.custom-navbar {
    display: flex;
    align-items: center;
    width: 100%;
    height: 13vh;
    background: #fff;
    color: #333;
    position: relative;
    z-index: 100;
    box-shadow: rgba(54, 58, 64, 0.2) 8px 8px 32px;
}

.nav-logo {
    display: flex;
    align-items: center;
    padding-left: 2%;
    width: 10vw;
    height: 90%;
}

.nav-menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 50vw;
    height: 100%;
}

.nav-title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40vw;
    height: 100%;
    font-size: 25px;
    letter-spacing: 2px;
}

.custom-navbar-item {
    display: flex;
    font-size: 12px;
    width: 6vw;
    align-items: center;
    justify-content: center;
    height: 100%;
    letter-spacing: 1px;
    font-size: 16px;
    transition: border-bottom 0.3s ease;
}

.custom-navbar-item:hover {
    border-bottom: solid 4px #2b806a;
    cursor: pointer;
}

.nav-logo-image {
    height: 90%;
    width: 70%;
}